[Unit]
Description=Minecraft Server
Requires=network-online.target

[Service]
WorkingDirectory={{ minecraft_home }}
User={{ minecraft_user }}
Group={{ minecraft_group }}
Type=forking


ExecStart=/usr/bin/tmux new-session -s minecraft -d '{{ minecraft_home }}/minecraft_server.sh'

ExecStop=/usr/bin/tmux send-keys -t minecraft:0.0 'say SERVER SHUTTING DOWN. Saving map...' C-m 'save-all' C-m 'stop' C-m
ExecStop=/bin/sleep 2

[Install]
WantedBy=multi-user.target